.navbar {
  margin-bottom: 0px;
}

.container {
  margin-left: 0px;
}

.content {
  padding-top: 50px;
}

.row {
  margin-right: 0px;
}

.navbar-collapse {
  padding-left: 0px;
}

.navbar-default .navbar-brand {
  color: green;
}

li {
  padding-left: 10px;
}

.story {
  text-align: center;
  color: white;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 1.0);
}

p.story {
  padding-left: 5%;
  padding-right: 5%;
}

div.story {
  padding-bottom: 40px;
}

div.eco {
  background-image: url(img/tomatoes_large.jpg);
  background-size: cover;
  background-position: bottom;
  height: 400px;
}

div.gambia {
  background-image: url(img/sea_large.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
}

h1.story {
  padding-top: 50px;
  padding-bottom: 12px;
  margin-top: 0px;
  margin-bottom: 0px
}

h2.story {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 16px;
}

.frontpage-top {
  margin-top: 0px;
  background-image: url(img/top_large.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  height: 400px;
}

.frontpage-top-h {
}

h1.frontpage-top-h {
  padding-top: 250px;
  margin-top: 0px;
}

.room {
  padding: 20px;
}

.room-heading {
  margin-top: 0px;
  background-size: cover;
  background-position: center;
  color: white;
  height: 600px;
}

h1.room-heading {
  padding-top: 280px;
  margin-top: 0px;
}

.room-description {
  padding: 10px 10% 80px 10%;
}

h1.room {
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
}
