{% extends 'base.html' %}
{% load static %}

{% block content %}

{% for house in houses %}
  <div>
    <div class="room-heading" style="background-image: url({{ house.img_path }})">
      <h1 class="story room-heading">{{ house.name }}</h1>
    </div>
    <div class="container room-description">
      <div class="row">
        <div class="col-md-4">
          <h2>Description</h2>
          <p>{{ house.desc }}</p>
        </div>
        <div class="col-md-4">
          <h2>Specifications</h2>
          <table class="table">
            <tr>
              <th>Capacity</th>
              <td>{{ house.pers_capacity }}</td>
            </tr>
            <tr>
              <th>Rooms</th>
              <td>{{ house.n_rooms }}</td>
            </tr>
            <tr>
              <th>Single beds</th>
              <td>{{ house.n_singles }}</td>
            </tr>
            <tr>
              <th>Double beds</th>
              <td>{{ house.n_doubles }}</td>
            </tr>
          </table>
        </div>
        <div class="col-md-4">
          <h2>Availability/Booking</h2>
          <a href="{{ house.tripadvisor_book_link }}">Tripadvisor</a>
        </div>
    </div>
  </div>
{% endfor %}

{% endblock %}
